<!--
  - #CONTACT
-->

<article class="contact" data-page="contact">
    <header>
        <h2 class="h2 article-title">Contact</h2>
    </header>

    <section id="contactForm">
        <h3 class="h3 form-title">Contact Form</h3>

        <form id="contact-form" class="form">
            <div class="input-wrapper">
                <input type="text" id="senderName" name="senderName" required class="form-input"
                    placeholder="Full name" />

                <input type="email" id="senderEmail" name="senderEmail" required class="form-input"
                    placeholder="Email address" />
            </div>

            <textarea id="message" name="message" rows="4" required class="form-input"
                placeholder="Your Message"></textarea>

            <button class="form-btn" type="submit" id="whatsapp-button">
                <ion-icon name="paper-plane"></ion-icon>
                <span>Send Message</span>
            </button>
        </form>
    </section>
</article>