<!--
  - #RESUME
-->

<article class="resume" data-page="resume">
    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education and Certifications</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                    B.Tech in Computer Science, JK Lakshmipat University
                    <span>Jaipur, India | 2016 – 2020</span>
                </h4>

            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                    Certified Scrum Product Owner (CSPO) – Scrum Alliance
                    <a href="https://bcert.me/sskicporw" target="_blank"
                        style="display: inline-block; vertical-align: middle; margin-left: 8px; color: var(--orange-yellow-crayola);">
                        <ion-icon name="arrow-up-outline"
                            style="transform: rotate(45deg); font-size: 1.2em;"></ion-icon>
                    </a>
                </h4>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                    Certified ScrumMaster (CSM) – Scrum Alliance
                    <a href="https://bcert.me/stwfwndos" target="_blank"
                        style="display: inline-block; vertical-align: middle; margin-left: 8px; color: var(--orange-yellow-crayola);">
                        <ion-icon name="arrow-up-outline"
                            style="transform: rotate(45deg); font-size: 1.2em;"></ion-icon>
                    </a>
                </h4>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                    Google Professional Project Management Certificate
                    <a href="https://www.credly.com/badges/a7641d13-9812-4e89-b82d-e4de92945d3f/public_url"
                        target="_blank"
                        style="display: inline-block; vertical-align: middle; margin-left: 8px; color: var(--orange-yellow-crayola);">
                        <ion-icon name="arrow-up-outline"
                            style="transform: rotate(45deg); font-size: 1.2em;"></ion-icon>
                    </a>
                </h4>
            </li>
        </ol>
    </section>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="list-outline"></ion-icon>
            </div>
            <h3 class="h3">Core Competencies</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Strategy</h4>
                <p class="timeline-text">Product Roadmap & Strategy, MVP Definition, Feature Prioritization.</p>
            </li>
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Execution</h4>
                <p class="timeline-text">Agile (Scrum/Kanban), Backlog Management, SDLC (Frontend APIs).</p>
            </li>
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Design & Research</h4>
                <p class="timeline-text">User Research, Customer Journey Mapping, A/B Testing.</p>
            </li>
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Tools</h4>
                <p class="timeline-text">JIRA, Confluence, Figma, Azure DevOps, Trello, Mural, Miro.</p>
            </li>
        </ol>
    </section>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="code-slash-outline"></ion-icon>
            </div>
            <h3 class="h3">Technical Awareness</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Frontend</h4>
                <p class="timeline-text">React.js, Vue.js, Next.js, React Native, TypeScript, GSAP, Three.js.</p>
            </li>
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">UI/UX</h4>
                <p class="timeline-text">Tailwind CSS, Material UI, Storybook, Modular UI Systems.</p>
            </li>
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Cloud/DevOps</h4>
                <p class="timeline-text">Azure, GCP, GitHub Actions, Vercel, Firebase, REST APIs.</p>
            </li>
        </ol>
    </section>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="desktop-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Product Manager</h4>
                <span>Grras Solution, Jaipur — Aug 2025 – Present | Contract</span>
                <ul class="timeline-text">
                    <li>Defined and managed end to end product roadmap, translating business and customer requirements
                        into detailed PRDs, wireframes and user journeys.</li>
                    <li>Collaborated with cross functional teams to deliver scalable, user centric solutions that align
                        with business growth and market needs.</li>
                    <li>Implemented Agile methodologies, including sprint planning, backlog grooming and retrospectives,
                        to ensure smooth execution and timely delivery.</li>
                    <li>Leveraged frontend to align with developers on UI/UX decisions, improving platform usability and
                        learner engagement.</li>
                    <li>Monitored KPIs and usage analytics to drive data backed product decisions, boosting adoption and
                        retention.</li>
                </ul>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Founder & Product Manager</h4>
                <span>Maatie, Jaipur — Oct 2024 – Aug 2025 | Part-Time</span>
                <ul class="timeline-text">
                    <li>Created and launched a natural skincare and decor D2C brand with a strong focus on
                        product-market fit.</li>
                    <li>Owned product strategy, user research, feature planning, and success metrics for each product
                        line.</li>
                    <li>Designed and managed the full lifecycle of SKUs from ideation to digital launch and customer
                        delivery.</li>
                    <li>Implemented feedback-based product iterations, increasing customer retention and reducing churn.
                    </li>
                </ul>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Agile & Product Collaborator</h4>
                <span>Zensar Technologies, Pune — May 2022 – Oct 2024</span>
                <ul class="timeline-text">
                    <li>Collaborated with product managers and designers to define feature requirements and shape
                        product direction.</li>
                    <li>Contributed to defining product vision, epics, and roadmaps for enterprise web applications.
                    </li>
                    <li>Used agile processes to deliver product increments, attending sprint planning, standups, and
                        demos.</li>
                    <li>Led development of user-facing features that improved task completion by 20%.</li>
                    <li>Participated in user story mapping and MVP scoping sessions, balancing tech feasibility and
                        business needs.</li>
                </ul>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Agile Product Contributor & Frontend Developer</h4>
                <span>Tagbox, Jaipur — Aug 2021 – May 2022</span>
                <ul class="timeline-text">
                    <li>Worked closely with product and design teams to ship customer-facing features.</li>
                    <li>Interpreted business goals into actionable technical tasks, contributing to on-schedule delivery
                        of key features impacting 1 Million+ users.</li>
                    <li>Involved in defining user acceptance criteria and validating post-launch performance.</li>
                </ul>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Client-Facing Product Contributor & Frontend Developer</h4>
                <span>Socialmeedya, Jaipur — Jun 2020 – Jun 2021</span>
                <ul class="timeline-text">
                    <li>Delivered multiple web features based on client requirements and user goals.</li>
                    <li>Helped define scope and success metrics for product MVPs.</li>
                    <li>Participated in client meetings to gather feedback and convert insights into product iterations.
                    </li>
                </ul>
            </li>
        </ol>
    </section>
</article>